/* icomoon */

@font-face {
    font-family: "icomoon";
    src:  url('fonts/icomoon.eot?1nrm9o');
    src:  url('fonts/icomoon.eot?1nrm9o#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?1nrm9o') format('truetype'),
      url('fonts/icomoon.woff?1nrm9o') format('woff'),
      url('fonts/icomoon.svg?1nrm9o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"],
  [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-close:before {
    content: "\e905";
  }
  .icon-text:before {
    content: "\e900";
  }
  .icon-play:before {
    content: "\e901";
  }
  .icon-prev:before {
    content: "\e902";
  }
  .icon-next:before {
    content: "\e903";
  }
  .icon-pause:before {
    content: "\e904";
  }
  
  html {
    font-family: "trade-gothic-next", sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
  }
  
  body {
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: block;
    
  }
  
  canvas {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  #video-preloader {
    opacity: 0;
  }
  
  #preload {
    opacity: 0;
  }

  #menu-toggle {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    background-image: url('./images/dots.png');
    background-size: cover;
    border: none;
    z-index: 500;
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 1.5rem);
    transform: rotate(0deg);
    transition: .5s all ease-in-out;
    opacity: .5;
    &:hover {
        transform: rotate(180deg);
        opacity: 1;
    }


  }

  #reset {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    background-image: url('./images/reset.png');
    background-size: cover;
    border: none;
    z-index: 500;
    position: absolute;
    top: 2rem;
    left: calc(50% - 1.5rem);
    transform: rotate(0deg);
    transition: .5s all ease-in-out;
    display: none;
    opacity: .5;
    &:hover {
        transform: rotate(-180deg);
        opacity: 1;
    }
    &.active {
      display: block;
    }


  }


  
  
  #ui {

    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    // transform: translate3d(0, - 2rem, 0);
    transition: 1s all ease-in-out;
    pointer-events: none;

    &.active {
        opacity: 1;
        // transform: translate3d(0, 0, 0);
        pointer-events: all;
    }

  }
  
  #radial-ui {

    z-index: 100;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 60vw;
    max-width: 80vh;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    background-image: url('./images/dial.svg');
    background-size:cover;


    button {
        height: 20%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        -webkit-filter: grayscale(100%) blur(2px);
        filter: grayscale(100%) blur(2px);
        transition: .5s all ease-in-out;
        &:hover {
            -webkit-filter: grayscale(0) blur(0);
            filter: grayscale(0) blur(0);
            transition: .5s ease-in-out;
        }
        background-size: contain;
      }
      .play-wrapper {
        position: absolute;
        height: calc(100% - 5rem);
        left: calc(40% + 0.5rem);
        top: 2.5rem;
        }  
        
    #play-1 {
        background-image: url('./images/button-1.png');
        
    }
        
    #play-wrapper-2 {
        transform: rotate(51deg);
    }
    #play-2 {
        transform: rotate(-51deg);
        background-image: url('./images/button-2.png');
        
    }
    #play-wrapper-3 {
        transform: rotate(102deg);
    }
    #play-3 {
        transform: rotate(-102deg);
        background-image: url('./images/button-3.png');
    }
    #play-wrapper-4 {
        transform: rotate(153deg);
    }
    #play-4 {
        transform: rotate(-153deg);
        background-image: url('./images/button-4.png');
    }
    #play-wrapper-5 {
        transform: rotate(204deg);
    }
    #play-5 {
        transform: rotate(-204deg);
        background-image: url('./images/button-5.png');
    }
    #play-wrapper-6 {
        transform: rotate(255deg);
    }
    #play-6 {
        transform: rotate(-255deg);
        background-image: url('./images/button-6.png');
    }
    #play-wrapper-7 {
        transform: rotate(306deg);
    }
    #play-7 {
        transform: rotate(-306deg);
        background-image: url('./images/button-7.png');
    }

    #text-toggle {
        position: absolute;
        height: 20%;
        left: 40%;
        top: 40%;
        background: transparent;
        background-image: url('./images/text-2.png');
        background-size: contain;
        
      }


  }
  
  
  #text-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 501;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s linear;

    #text-close {
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 504;
    }
  }

  #text-wrapper {
    float: left;
    left: 2rem;
    position: relative;
  }
  
  #text {
    width: auto;
    position: relative;
    float: left;
    z-index: 502;
    h1 {
        padding: 2rem 2rem 1rem 2rem;
        line-height: 2rem;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
    }
    p {
        padding: 0 2rem 0 2rem;
        font-weight: 400;
        font-style: normal;
        
    }
    br {
        display: block; /* makes it have a width */
        content: ""; /* clears default height */
        margin-top: 1rem; /* change this to whatever height you want it */
    }
    #animated-text {
      padding: 0 2rem 1rem 2rem;
      br {
        display: block;
        margin: 2rem 0;
        content: "";
      }
    }
    #screen-reader {
      opacity: 0;
      display: none;
    }

    #forward {
      padding: 0 2rem 0 2rem;
    }
  }
  
  #modal-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    position: absolute;
  }
  
  .animate-toggle {
    transition: top 2s;
  }

#l, #l-rev {
  display: none;
  &.active {
    display: block;
  }
}
  
canvas.lights{
    // filter: blur(15px) drop-shadow(0 0 30px rgba(51,180,172,1)); 
    transform: translateX(-30vw);
    mix-blend-mode: normal;
    transition: 1s all ease-in-out;
    opacity: 0;


    &.active {
        
    }

    &.flipped {
        transform: translateX(30vw) scaleX(-1);
    }

}

#cX {
  mix-blend-mode: lighten;
}



@media (max-width: 768px) {
  html {

  }

  #text h1 {
    padding: 1.5rem 1rem 0rem 1rem;
  }
  #text #animated-text, #screen-reader {
    padding: 0 1.5rem 1rem 1rem !important;

      br {
        display: block;
        margin: 1.5rem 0;
        content: "";
      }

  }
  #text-modal {
    width: calc(100vw);

  }
  #text-wrapper {
    left: 0;
  }
  canvas {

  }

  .play-wrapper {
    height: calc(100% - 2rem);
    left: calc(40% + 0.5rem);
    top: 1rem;
  }


}

@media handheld and (orientation: landscape) {

}
@media (orientation: portrait) and (max-width: 768px) {
  #radial-ui {
    width: calc(100vw - 2rem) !important;
    max-width: unset;
  }
}